<div id="bootstrap-overrides">
  <h1>Current Questions</h1>

  <% if user_signed_in? && current_user.is_dark_mode %>
    <table class="table table-dark table-hover table-borderless table-striped">
  <% else %>
    <table id="table" class="table table-hover table-borderless table-striped">
  <% end %>

    <thead class="thead-dark">
      <tr>
        <th>Question</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.question %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <h1>Add New Custom Questions</h1>
  <%= bootstrap_form_with model: @question, url: new_jp_question_path, method: :post, local: true do |f| %>

      <%= f.text_field :question %>
      <%= f.submit %>

  <% end %>
  <br />
  <div class="float-right">
    <%= link_to 'Cancel', new_job_posting_path(@job_posting), class: 'btn btn-secondary btn-info' %>
  </div>

  <div class="float-left">
    <%= link_to 'Done', job_posting_path(@job_posting), class: 'btn btn-secondary btn-success' %>
  </div>

</div>