<html>
  <head>
    <script>
      function darkMode() {
        var element = document.body;
        var element2 = document.getElementById("table");
        element.classList.toggle("dark-mode");
        element2.classList.toggle("table-dark");
      }
    </script>

    <script type="text/javascript">
      var checkbox = document.getElementById('change-password');
      var details_div = document.getElementById('new-password');
      checkbox.onchange = function() {
        if(this.checked) {
          details_div.style['display'] = 'block';
        } else {
          details_div.style['display'] = 'none';
        }
      };
    </script>

  </head>

  <body>
    <div id="bootstrap-overrides">
      <%= render "devise/shared/error_messages", resource: resource %>
      <h1 style="text-align: center; font-weight: bold;"><%= current_user.first_name.capitalize  %> <%= current_user.last_name.capitalize %></h1>
      <% if !current_user.is_recruiter %>
        <p style="text-align: center;"><%= link_to 'Active Job Applications', job_applications_a_path(current_user) %></p>
      <% end %>
      <br /><br />

      <% if current_user.is_recruiter == true && (@user.companies.map{|x| x.job_postings.count}).sum > 0 %>
        <h2>
          My Job Postings
        </h2>

        <% if user_signed_in? && current_user.is_dark_mode %>
          <table class="table table-dark table-hover table-borderless table-striped ">
          <% else %>
            <table id="table" class="table table-hover table-borderless table-striped">
        <% end %>

        <thead class="thead-dark">
          <tr>
            <th>Job Title</th>
            <th>Category</th>
            <th>Company</th>
            <th style="text-align: center">Total Applications</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @user.companies.each do |c| %>
            <% c.job_postings.each do |jp| %>
                <tr>
                  <td><%= link_to jp.title, job_posting_path(jp) %></td> 
                  <td><%= jp.tag_list[0].titleize %></td>
                  <td><%= c.name %></td>
                  <td style="text-align: center"><%= jp.job_applications.count %></td>
                  <td><%= link_to 'View Applications', job_applications_r_path(current_user, jp) %></td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
        </table>

        <%=link_to "+ NEW Job Posting", new_job_posting_path %>
        <br /><br />
      <% end %>

      <% if @user.is_recruiter == true && @user.companies.count > 0 %>
        <div class="column float-right" >
          <h2>My Companies</h2>
            <% if user_signed_in? && current_user.is_dark_mode %>
              <table class="table table-dark table-hover table-borderless table-striped w-auto">
              <% else %>
                <table id="table" class="table table-hover table-borderless table-striped w-auto">
            <% end %>
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Year</th>
                  <th>Email</th>
                  <th>Job Postings</th>
                  <th>Job Applications</th>
                </tr>
              </thead>
              <tbody>
                <% @user.companies.each do |c| %>
                  <tr>
                    <td><%= link_to c.name, company_path(c) %></td>
                    <td><%= c.year_established %></td>
                    <td><%= c.email %></td>
                    <td style="text-align: center"><%= c.job_postings.count %></td>
                    <td style="text-align: center"><%= (c.job_postings.map{|x| x.job_applications.count}).sum %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>        

          <%=link_to "+ NEW Company", new_company_path %>
          <br /><br />
        </div>
      <% end %>

      
        <div class="column">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>          

            <br />
            <div class="field" >                        
              <%= f.check_box :is_dark_mode, autocomplete: "is_dark_mode", onclick: "darkMode()" %>
              Join <a style="color: white">The <b>Dark Side</b></a>
            </div><br />
            

            <% if @user.is_recruiter == false %>     
              <div class="float-right">
                <b>Categories of Interest</b><br />
                <div class="field">
                  <%= f.collection_check_boxes(:tag_list, valid_interests, :first, :first) do |b| %>
                    <div class="form-check">
                      <% if !@user.tag_list.include?(b.value.downcase) %>
                        <label class="form-check-label"><%= b.check_box class: 'form-check-input' %> <%= b.value %></label>
                      <% end %>
                      <% if @user.tag_list.include?(b.value.downcase) %>
                        <%= b.label(class: "form-check-label") { b.check_box(checked: true, class: "form-check-input") + b.value }  %> 
                      <% end %>
                    </div>
                  <% end %>
                </div><br /> 
              </div>    
            <%end%>
            
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
            </div><br />          

            <div class="field">
              First Name<br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: true %>
            </div><br />

            <div class="field">
              Last Name<br />
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", required: true %>
            </div><br />

            <% if @user.is_recruiter == false %>

              <div class="field">
                Phone Number<br />
                <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
              </div><br />

              <div class="field">
                Address<br />
                <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
              </div><br />

              <div class="field">
                Highest Degree<br />
                <%= f.select :highest_degree, ['Associate',"Bachelor's","Master's","Doctoral"], autofocus: true %>
              </div><br />

              <div class="field">
                School of Highest Degree<br />
                <%= f.text_field :highest_degree_school, autofocus: true, autocomplete: "highest_degree_school" %>
              </div><br />

            <% end %>

            <br />
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", required: true %>
            </div><br />



            <div class="field">
              <%= check_box_tag "change-password" %> Change Password?
            </div><br />

            <div id="new-password" style="display:none;">

              <div class="field">
                <i>(leave blank if you don't <br />want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div><br />          

              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New Password Confirmation" %>
              </div><br />

            </div>

            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-secondary btn-success' %>
            </div><br /><br />
          <% end %>
        </div>
      

      <p>
      Unhappy? 
      <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary btn-danger  float-left' %>
      <%= link_to "Back", :back, class: 'btn btn-secondary btn-info float-right' %>
      <br /><br />
      </p>
    </div>
  </body>

</html>
