<h1 style = 'text-align:center'><%= @application.job_posting.title%></h1>
<h2 style = 'text-align:center'><%= @application.job_posting.company.name %></h2>

<table class = 'table'>

    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>First Name</td>
            <td><%= @application.user.first_name %></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><%= @application.user.last_name %></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><%= @application.user.phone_number %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= @application.user.email %></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><%= @application.user.address %></td>
        </tr>
        <tr>
            <td>Highest Degree</td>
            <td><%= @application.user.highest_degree %></td>
        </tr>
        <tr>
            <td>School where Highest Degree was Obtained</td>
            <td><%= @application.user.highest_degree_school %></td>
        </tr>

        <% @questions.each do |question| %>
        <tr>
            <td><%= question.question %></td>
            <td> answer </td>
        </tr>
        <% end %>

    </tbody>

</table>

<p>
    <% if current_user.is_recruiter %>
        <%= link_to 'Back', job_applications_r_path(current_user, @posting) %>
    <% else %>
        <%= link_to 'Back', job_applications_a_path(current_user) %>
    <% end %>
</p>

<p>
    <% if !current_user.is_recruiter %>
        <%= link_to 'Revoke this Application', job_application_a_path(current_user), method: :delete %>
    <% end %>
</p>