<div id="bootstrap-overrides">
    <h1 style = 'text-align:center'><%= @application.job_posting.title%></h1>
    <h2 style = 'text-align:center'><%= @application.job_posting.company.name %></h2>

    <% if user_signed_in? && current_user.is_dark_mode %>
        <table class="table table-dark table-hover table-borderless table-striped">
    <% else %>
        <table class="table table-hover table-borderless table-striped">
    <% end %>

        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td><%= link_to "#{@application.user.first_name} #{@application.user.last_name}", user_profile_path(@application.user) %></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><%= @application.user.phone_number %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= mail_to @application.user.email, "#{@application.user.email}" %></td> 
            </tr>
            <tr>
                <td>Address</td>
                <td><%= @application.user.address %></td>
            </tr>
            <tr>
                <td>Highest Degree</td>
                <td><%= @application.user.highest_degree %></td>
            </tr>
            <tr>
                <td>School where Highest Degree was Obtained</td>
                <td><%= @application.user.highest_degree_school %></td>
            </tr>
        </tbody>
    </table>
    <br />
    <h3> Questions</h3>
    <p>
        <table>
            <tbody>
                <% @questions.each do |question| %>
                    <tr>
                        <td><b><%= question.question %> </b></td>
                    </tr>
                    <tr><td><i> some answer </i></td></tr>
                    <tr><td style="color: transparent">Testing this empty row</td></tr>
                <% end %>
            </tbody>
        </table>
        
    </p>
    
    <br /><br />
    <%= link_to 'Back', :back, class:"btn btn-info float-right" %>


    <% if !current_user.is_recruiter %>
        <%= link_to 'Revoke this Application', job_application_a_path(current_user), method: :delete, class:"btn btn-danger float-left" %>
    <% end %>
    
</div>