<div id='bootstrap-overrides'>
  <h1 style="padding: 10px"> <%= @company.name %> </h1>
  <h5><%= @company.avg_rating %> average rating with <%= @company.count_ratings %> review(s) </h5>
  <%= bootstrap_form_with model: @company, url: company_path(@company), method: :patch, local: true do |f| %>
      <%= f.text_field :name, :disabled => !(@company.recruiter == current_user) %>
      <%= f.text_area :description, :disabled => !(@company.recruiter == current_user) %>
      <%= f.select :size, ['small', 'medium', 'big'], {}, :disabled => !(@company.recruiter == current_user) %>
      <%= f.number_field(:year_established, label: "Year of establishment", :disabled => !(@company.recruiter == current_user) ) %>
      <%= f.text_field :email, :disabled => !(@company.recruiter == current_user) %>
      <%= f.number_field :phone_number, :disabled => !(@company.recruiter == current_user) %>
      <%= f.text_area :address, :disabled => !(@company.recruiter == current_user) %>
    </div>
    <br />
    <% if @company.recruiter == current_user %>
      <%= f.submit "Update", class:"btn btn-success float-left" %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-sm" style="padding:0; text-align:right;">
          <% if current_user == @company.recruiter %>
            <%= link_to "Delete", company_path(@company), method: :delete, data: { confirm: "Are you sure? 
              You will loose all job postings and applications for this company." }, class: "btn btn-danger" %>
          <% end %>
        </div>
        <div class="col-sm" style="padding:0;">
          <%= link_to 'Back', :back, class:"btn btn-info float-right" %>
        </div>
      </div>
    </div>
  <% end %>
  <br />


  <hr style = 'border-width: 5px; background-color:#000000' />
<div id='bootstrap-overrides'>
  <% if user_signed_in? && !current_user.is_recruiter %>
    <h3>What do you think about <%= @company.name %>?  Let us know by adding a review</h3>
    <%= bootstrap_form_with model: @review, url: company_path(@company), method: :post, local: true do |f| %>
      <%= f.select :rating_5, [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5], label: 'Rating' %>
      <%= f.text_area :review_text, label: 'Review' %>
      <%= f.check_box :anonymous, label: 'Anonymous?' %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :company_id, value: @company.id %>
      <br />
      <%= f.submit 'Add Review', class: "btn btn-success" %>
    <% end %>
  <hr style = 'border-width: 2px; background-color:#000000'/>
  <% end %>

  <% if @company.reviews.count > 0 %>
    <% if user_signed_in? && current_user.is_dark_mode %>
      <table class="table table-dark table-hover table-borderless table-striped" style = 'table-layout: fixed; width:100%;'>
      <thead>
    <% else %>
      <table class="table table-hover table-borderless table-striped" style = 'table-layout: fixed; width:100%;'>
      <thead class="thead-dark">
    <% end %>
        <tr>
          <th style = 'width:100px;'>Rating</th>
          <th>Review</th>
          <th style = 'width:200px;'>User</th>
        </tr>
      </thead>
      <tbody>
          <% @company.reviews.each do |review| %>
          <tr style = 'border: 2px solid black'>
            <td><%= review.rating_5 %></td>
            <td style = 'word-wrap: break-word'>
              <%= review.review_text %>
              <% if user_signed_in? && current_user == review.applicant %>
                <br />
                <br />
                <span style = 'float: left;'><%= link_to 'Delete', review_path(review.company, review), method: :delete, 
                  class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure want to delete this review?" } %></span>
                <span style = 'float: right;'><%= link_to 'Edit', edit_review_path(review.company, review),  class: 'btn btn-info btn-sm' %></span> 
              <% end %>
            </td>
            <td>
              <% if review.anonymous %>
                Anonymous
              <% else %>
                <%= review.applicant.first_name + ' ' + review.applicant.last_name %>
              <% end %>
            </td>      
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>