
  <h1 style="padding: 10px"> Company </h1>
  <%= bootstrap_form_with model: @company, url: company_path(@company), method: :patch, local: true do |f| %>
    <div id='bootstrap-overrides'>
      <%= f.text_field :name, :disabled => !current_user.is_recruiter? %>
      <%= f.text_area :description, :disabled => !current_user.is_recruiter? %>
      <%= f.select :size, ['small', 'medium', 'big'], {}, :disabled => !current_user.is_recruiter? %>
      <%= f.number_field(:year_established, label: "Year of establishment", :disabled => !current_user.is_recruiter? ) %>
      <%= f.text_field :email, :disabled => !current_user.is_recruiter? %>
      <%= f.number_field :phone_number, :disabled => !current_user.is_recruiter? %>
      <%= f.text_area :address, :disabled => !current_user.is_recruiter? %>
    </div>
    <% if current_user == @company.recruiter %>
      <%= f.submit "update" %>
    <% end %>

  <% end %>

  <!--
  <div style="padding: 20px">
    rated <%= @company.avg_rating %> by <%= @company.count_ratings %> users
  </div>
  -->

  <% if current_user == @company.recruiter %>
    <%= link_to "Delete", company_path(@company), method: :delete, class: "btn btn-danger float-left" %>
  <% end %>

  <%= link_to 'Back', :back, class:"btn btn-info float-right" %>

