<h1><%= @company.name %></h1>

<p>
  rated <%= @company.avg_rating %> by <%= @company.count_ratings %> users
</p>

<p>
  description: <%= @company.description %>
</p>

<p>
  size: <%= @company.size %>
</p>


<p>
  started in <%= @company.year_established %>
</p>


<p>
  <%= @company.email %>
</p>
<p>
  <%= @company.phone_number %>
</p>
<p>
  <%= @company.address %>
</p>
