<h1 style="padding: 10px"> Company </h1>
<%= bootstrap_form_with model: @company, url: company_path(@company), method: :patch, local: true do |f| %>

  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.select :size, ['small', 'medium', 'big'] %>
  <%= f.number_field(:year_established, label: "Year of establishment" ) %>
  <%= f.text_field :email %>
  <%= f.number_field :phone_number %>
  <%= f.text_area :address %>
  <% if current_user == @company.recruiter %>
    <%= f.submit "update" %>
  <% end %>

<% end %>

<!--
<div style="padding: 20px">
  rated <%= @company.avg_rating %> by <%= @company.count_ratings %> users
</div>
-->

<% if current_user == @company.recruiter %>
  <td><%= link_to "Delete", company_path(@company), method: :delete, class: "btn btn-danger" %></td>
<% end %>