
  <h1 style="padding: 10px"> Company </h1>
  <%= bootstrap_form_with model: @company, url: company_path(@company), method: :patch, local: true do |f| %>
    <div id='bootstrap-overrides'>
      <%= f.text_field :name, :disabled => !(@company.recruiter == current_user) %>
      <%= f.text_area :description, :disabled => !(@company.recruiter == current_user) %>
      <%= f.select :size, ['small', 'medium', 'big'], {}, :disabled => !(@company.recruiter == current_user) %>
      <%= f.number_field(:year_established, label: "Year of establishment", :disabled => !(@company.recruiter == current_user) ) %>
      <%= f.text_field :email, :disabled => !(@company.recruiter == current_user) %>
      <%= f.number_field :phone_number, :disabled => !(@company.recruiter == current_user) %>
      <%= f.text_area :address, :disabled => !(@company.recruiter == current_user) %>
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm" style="padding:0;">
          <% if current_user == @company.recruiter %>
            <%= f.submit "Update", class:"btn btn-success float-left" %>
          <% end %>
        </div>
        <div class="col-sm" style="padding:0; text-align:center;">
          <% if current_user == @company.recruiter %>
            <%= link_to "Delete", company_path(@company), method: :delete, data: { confirm: "Are you sure? 
You will loose all job postings and applications for this company." }, class: "btn btn-danger" %>
          <% end %>
        </div>
        <div class="col-sm" style="padding:0;">
          <%= link_to 'Back', :back, class:"btn btn-info float-right" %>
        </div>
      </div>
    </div>
    
    
    
    
    
  <% end %>

