<h1>Job Postings</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Experience Required (in years)</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @job_postings.each do |jp| %>
      <tr>
        <td><%= link_to jp.title, job_posting_path(jp) %></td>
        <td><%= jp.summary %></td>
        <td><%= jp.job_category %></td>
        <td><%= jp.experience_required %></td>
        <td>
          <% if jp.recruiter == current_user %>
            <%= link_to "Delete", job_posting_path(jp), method: :delete %>
          <% end %>
        </td>
    <% end %>
  </tbody>

</table>