<h1>Job Postings</h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Category</th>
      <th>Experience Required (in years)</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= form_tag(job_postings_path, method: :get) do %>
        <td> <%= text_field_tag(:search, params[:search]) %> </td>
        <td></td><td></td>
        <td> <%= submit_tag ("submit") %> </td>
      <% end %> 
    </tr>
    <% @job_postings.each do |jp| %>
      <tr>
        <td><%= link_to jp.title, job_posting_path(jp) %></td>
        <td><%= jp.summary %></td>
        <td><%= jp.tag_list[0].titleize %></td>
        <td><%= jp.experience_required %></td>
        <td>
        </td>
    <% end %>
  </tbody>

</table>

