<h1>Create New Job Posting</h1>

<%= bootstrap_form_with model: @job_posting, url: job_postings_path, method: :post, local: true do |f| %>

  <%= f.text_field :title %>
  <%= f.text_field :job_category %>
  <%= f.text_area :summary %>
  <%= f.number_field :experience_required, in: 1.0..20.0, step: 0.5 %>
  <%= f.submit %>

<% end %>
