<h1>Edit Review</h1>

<%= bootstrap_form_with model: @review, url: review_path(@review.company, @review), method: :patch, local: true do |f| %>
    <%= f.select :rating_5, ['1', '2', '3', '4', '5'], label: 'Rating' %>
    <%= f.text_area :review_text, label: 'Review' %>
    <%= f.check_box :anonymous, label: 'Anonymous?' %>
    <%= f.submit 'Edit Review' %>
<% end %>